@using System.Text.Json
@model MVC.ViewModels.EntryCreatorViewModel

@{
    ViewData["Title"] = "Entry Creator";
    <link rel="stylesheet" href="~/css/entry_creator.css"/>
}

<div id="entry-creator-container">
    <div id="entry-creator-header">
        <h1>Entry Creator</h1>
        <div id="trip-info">
            <span>Driving on the <strong>@Html.Raw(Model.Loop.Name)</strong>.</span>
            <span>Bus #<strong>@Html.Raw(Model.Bus.BusNumber)</strong>.</span>
        </div>
    </div>
    <hr id="separator">
    <div id="entry-creator-form-container">
        <form id="entry-creator-form" asp-controller="Entry" asp-action="Create" method="post">
            <div id="form-section">
                <label class="form-label" for="StopId">Stop:</label>
                <select id="stop-id" asp-for="SelectedStopId" asp-items="@(new SelectList(Model.Loop.Routes.OrderBy(r => r.Order).Select(r => r.Stop), "Id", "Name"))"></select>
            </div>
            <div id="form-section">
                <label class="form-label" for="Entry.Boarded">Passengers boarded:</label>
                <input type="text" placeholder="Enter..." asp-for="Entry.Boarded" class="form-control"/>
            </div>
            <div id="form-section">
                <label class="form-label" for="Entry.LeftBehind">Passengers left behind:</label>
                <input type="text" placeholder="Enter..." asp-for="Entry.LeftBehind" class="form-control"/>
            </div>
            <input type="hidden" asp-for="BusId"/>
            <input type="hidden" asp-for="LoopId"/>
            <input type="hidden" asp-for="Entry.Bus.Id" value="@Model.Bus.Id"/>
            <input type="hidden" asp-for="Entry.Loop.Id" value="@Model.Loop.Id"/>
            <input type="hidden" asp-for="Entry.Stop.Id" value="@Model.SelectedStopId"/>
            <div>
                <input type="submit" class="btn btn-primary" id="entry-creator-button" value="Next Stop"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
document.getElementById("entry-creator-form").addEventListener("submit", function (event) {
    event.preventDefault(); // prevent the default form submission

    // get the form data
    const formData = new FormData(event.target);
    console.log("Entry form data: ", formData);

    // make the POST request
    fetch(event.target.action, {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (response.ok) {
            const stopIdSelect = document.getElementById("stop-id");
            const nextStopIndex = stopIdSelect.selectedIndex + 1;

            if (nextStopIndex < stopIdSelect.options.length) {
                stopIdSelect.selectedIndex = nextStopIndex;
            } else {
                alert("You have reached the end of the loop. Please start a new trip or end the current trip.");
            }

            // Clear input fields
            document.querySelector("input[name='Boarded']").value = "";
            document.querySelector("input[name='LeftBehind']").value = "";
        } else {
            console.log('Error:', response.statusText);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

    </script>
}